<div id="subsribe-monkey" data-behavior="slideup">
  <div class="closeme"><a href="#"><i class="icon-remove-sign"></i></a></div>
  <!-- Begin MailChimp Signup Form -->
  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
  <form action="http://rfkcenter.us2.list-manage.com/subscribe/post?u=a4282f648f47158a946fe9d05&amp;id=37a91355a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button mailchimpfloat"></div>
  </form>
  </div><!--End mc_embed_signup-->
</div><!-- / subsribe-monkey -->