<ul>
  <li><i class="icon-lightbulb"></i> <a href="#learn" class="clickthis">Learn</a></li>
  <li><i class="icon-medkit"> </i> <a class="clickthis" href="#getinvoled">Get Involved</a></li>
  <li><i class="icon-medkit"> </i> <a href="#partners" class="clickthis">Partners</a></li>
  <li><i class="icon-phone"></i> <a href="#contact" class="clickthis">Contact</a></li>
  <li class="shareUs">
    <a href="#"><i class="icon-facebook"></i></a>
     &nbsp; 
    <a href="#"><i class="icon-twitter"></i> </a>
  </li>
</ul>