<div class="sky">
   <div id="nav" class="clearfix">
    <ul>
      <li>Learn</li>
      <li>Get Involved</li>
      <li>Partners</li>
      <li>Contact</li>
    </ul>

   </div><!-- nav  -->
</div><!--  sky  -->

<div id="welcome-trees">

<div data-behavior="fadein">
   <div class="twitter-wrapper">
      <H1 class="cursive">What's being said</H1>
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23RFK" data-widget-id="309076556821700609">Tweets about "#RFK"</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!-- twitter-wrapper  -->

    <div class="vimeo-wrapper">
      <H1  class="cursive">Our Fight For Equality</H1>
      <%= image_tag("qtiptmp.png") %>
      
    </div><!-- vimeo wrapper  -->
  </div><!-- fadein data-beh   -->
</div><!-- welcome-trees  -->

<div id="welcome-grass">

</div><!-- welcome-grass  -->
