/*

MADE BY RICHARD O'REILLY
sodigital Development
sodigit.al

PALLET:
sky #E8F0E8
first green #BBBD94
green #81A56D
brownlightest #A27943
dark brown #563729

*/

body {min-height:2000px;}

.cursive {border:1px solid #000;border-radius:4px;color:#FFF;background:rgba(0,0,0,.8);font-size:14px;text-transform:uppercase;text-align:center;font-family: 'Roboto', sans-serif;}
#nav{
  background:#000;
  width:100%;
  position:fixed;
  z-index:10;
  min-height:50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.9);
  background:rgba(0,0,0,0.9);
  color:#FFF;
  text-transform: uppercase;
  font-size:14px;
  font-family: 'Raleway', sans-serif;
  padding-top:25px;

}

#nav ul {float:right;display: inline;list-style:none;margin-right:100px;}
#nav li {
  border-right:1px solid #CCC;
  padding-right:20px;
  margin-left:20px;
  display: inline;
  list-style:none;
}
#nav li:last-child {border:0;}
#nav a {color:#FFF;}
.sky {
  height:40px;
  background:#E8F0E8;   
  margin:0;
  padding:0;
}

#welcome-trees { 
  background:#BBBD94 url(/assets/heros/hero-rooted.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:600px;
  margin-bottom:-30px;
  margin-top:-30px;

}

.welcome-grass {
  background:#BBBD94;
  min-height:600px;
}


.twitter-wrapper,.vimeo-wrapper {
  float:left;
}
.twitter-wrapper {width:550px;}
.vimeo-wrapper {margin-left:10px;margin-top:82px;}
.vimeo-wrapper img {margin-top:14px;}



.twitter-wrapper {
padding-top:55px;
margin:25px;
}
a.yella{color:yellow !important;}

a.vimeoHover:hover {
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.green { background:#81A56D;height:600px;}
.brown {background:#A27943;height:600px}
.dark-brown{background:#563729;height:600px}


[class^="icon-"],
[class*=" icon-"] {
  font-size:22px;font-size;}
