/*

MADE BY RICHARD O'REILLY
sodigital Development
sodigit.al

PALLET:
sky #E8F0E8
first green #BBBD94
green #81A56D
brownlightest #A27943
dark brown #563729

*/

body {}
#learn-carousel {width:400px;margin: 0 auto;padding-top:50px;}
#learn-carousel blockquote {margin-top:40px;width:600px;}
#subsribe-monkey {
  position: fixed;
  bottom:0;
  right:0;
  height:60px;
  width:600px;
  border-top:1px solid rgba(200,200,200,.5);
  border-left:1px solid rgba(200,200,200,.5);
}
#subsribe-monkey .closeme {
  color:#973247;
  font-size:12px;
  position:absolute;
  top:2px;
  left:4px;
}
#subsribe-monkey .closeme  a {
  position:relative;
  z-index:99;
  font-size:14px;
  color:#973247;  
}
#subsribe-monkey .closeme  a:hover 
{color:#000;}
#mc_embed_signup {
  padding-left:12px;
}

.mailchimpfloat{

background:#81A56D !important;
margin-top: -45px !important;
margin-right: 20px !important;
float:right;
box-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.logo {position:absolute;top:10px;left:40px;}
.logo h1 {font-size:16px;display: inline}
.logo img {width:30px;height:30px;}
.logo a:hover,#nav a:hover {text-decoration:none;}

.cursive {display:none;border:1px solid #000;border-radius:4px;color:#000;background:rgba(200,200,200,.5);font-size:14px;text-transform:uppercase;text-align:center;font-family: 'Roboto', sans-serif;}
#nav{
  width:100%;
  position:fixed;
  z-index:10;
  min-height:50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.9);
  background:#973247;
  color:#FFF;
  text-transform: uppercase;
  font-size:14px;
  font-family: 'Raleway', sans-serif;
  padding-top:25px;

}

#nav ul {float:right;display: inline;list-style:none;margin-right:100px;}
#nav li {
  border-right:1px solid #CCC;
  padding-right:20px;
  margin-left:20px;
  display: inline;
  list-style:none;
}
#nav li:last-child {border:0;}
#nav a {color:#FFF;}
#nav a:hover {color:#000;}

.sky {
  height:40px;
  background:#E8F0E8;   
  margin:0;
  padding:0;
}

#welcome-trees { 
  background:#BBBD94 url(/assets/heros/hero-rooted-apples-oil.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:600px;
  margin-bottom:-30px;

  margin-top: 12px;

}

.welcome-grass {
  background:#BBBD94;
  min-height:600px;
}


.twitter-wrapper,.vimeo-wrapper {
  float:left;
}
.twitter-wrapper {width:550px;}
.vimeo-wrapper {margin-left:10px;margin-top:82px;}
.vimeo-wrapper img {margin-top:14px;}



.twitter-wrapper {
padding-top:55px;
margin:25px;
}
a.yella{color:yellow !important;}


.green { background:#81A56D;height:600px;}
.brown {background:#A27943;height:600px}
.dark-brown{background:#563729;height:600px}


/*GLOBALS CRAY CRAY */

/*[class^="icon-"],
[class*=" icon-"] {
  font-size:22px;font-size;
}
*/


a:hover {
  text-decoration:none !important;
  -webkit-transition: color  200ms ease-in;
  -o-transition:color  200ms ease-in;
}  


.nav-tabs.nav-stacked  > li > a {
    background:#FFF;
    border: 1px solid #CCC !important;
}
.nav-stacked {width:200px;margin-left: 100px !important;padding-top: 50px !important;}
.getInvolvedLeft {float:left;width:100px;}
.getInvolvedright {margin: 50px 220px;float:left;width:400px;}


a.currentCrossLink {
  color:black;  
}
#get-involved-slider {
  border-radius:4px;  
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.whopickedyourapple {
  padding-top:50px;
  /*background:#BBBD94 url(/assets/apple-notype.png) no-repeat;

  background-image-size:100px 100px;*/
}

.whopickedyourapple b {
  position: absolute;
  margin: 159px 0 0 48px;
}

.shareUs {margin-left:50px;margin-left: 73px !important;}

.shareUs i {
  font-size:26px;  
}

#getinvoled {
  margin-top:-20px;  
}

.partnersMap {
  border:2px solid #BBBD94;
  margin: 50px 0 0 200px; 
}


margin-top: 62px;